body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game {
    margin: 20px 0;
}

.game img {
    width: 200px;
    height: 150px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

.search-form {
    display: inline-block;
    margin-left: 20px;
}

.search-form input[type="text"] {
    padding: 5px;
    width: 300px;
    font-size: 16px;
}

.search-form button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.logo {
    width: 100px; /* Устанавливаем ширину логотипа */
    height: 100px; /* Автоматическая высота для сохранения пропорций */
    position: absolute; /* Позиционирование для размещения в углу */
    top: 10px; /* Отступ сверху */
    left: 10px; /* Отступ слева */
}

#scrollTop {
    display: none; /* По умолчанию скрыта */
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#scrollTop:hover {
    background-color: #388E3C;
}

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid white;
    border-radius: 10px;
}

.modal .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/* Стили для пиктограммы лупы */
.zoom-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.image-container {
    position: relative; /* Для размещения дочерних элементов относительно контейнера */
    display: inline-block;
    margin: 5px;
}

 /* Маленькое изображение */
.image-container img.thumbnail {
    display: block;
    width: 200px; /* Размеры маленького изображения */
    height: auto;
    border-radius: 5px;
}

/* Лупа */
.image-container img.zoom-icon {
    position: absolute; /* Абсолютное позиционирование */
    top: 5px; /* Отступ сверху */
    right: 5px; /* Отступ справа */
    width: 30px; /* Размер пиктограммы */
    height: 30px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8); /* Белый фон с прозрачностью */
    border-radius: 50%; /* Круглая пиктограмма */
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Лёгкая тень */
}