body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header p {
    font-size: 2em; 
    font-weight: bold; 
    margin: 0.67em 0; 
    line-height: 1.2; 
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 0; 
    margin: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%; 
}

#H2 {
    margin: 10px;
    text-align: justify;
}

.games {
    flex: 1; 
    width: 100%;
    overflow: auto; 
}

.table-container {
    width: 100%;
    overflow: hidden;
}

table {
    width: 100%; 
    table-layout: fixed;  /* Устанавливаем фиксированное распределение */
    border-collapse: collapse; 
}

td {
    padding: 10px;
    text-align: center; /* Для выравнивания содержимого по центру */
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.game:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.game h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.game p {
    white-space: pre-line;
    margin: 10px 0;
    font-size: 0.9rem;
}

.buy-button {
    background-color: #007BFF;
    color: white;
    border: none;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.buy-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto; 
}

.search-form {
    display: inline-block;
    margin-left: 20px;
}

.search-form input[type="text"] {
    padding: 5px;
    width: 300px;
    font-size: 16px;
}

.search-form button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.logo {
    width: 100px;
    height: 100px; 
    position: absolute; 
    top: 10px; 
    left: 10px; 
}

#scrollTop {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: #232423;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#scrollTop:hover {
    background-color: #1b1b1b;
}

.image-container {
    width: 100%; /* Обеспечивает, что картинка занимает всю ширину контейнера */
    position: relative;
    padding-top: 56.25%; /* 16:9 соотношение сторон (9 / 16 = 0.5625) */
    margin: 0;
}

.image-container img.thumbnail {
    position: absolute;  /* Размещение изображения внутри контейнера */
    top: 0;
    left: 0;
    width: 100%;  /* Заполняем всю ширину контейнера */
    height: 100%; /* Заполняем всю высоту контейнера */
    object-fit: cover;  /* Заполняем контейнер, сохраняя пропорции изображения */
    border-radius: 5px;
}
